@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat&family=Oswald&display=swap');

$tittle-font: 'Kaushan Script', cursive;
$subtitle-font: 'Montserrat', sans-serif;
$nav-font: 'Oswald', sans-serif;